body {
    background-color: #FFFAF2;
}
.container-fluid, .poc-container {
    padding-left: 0;
    padding-right: 0;
}
.screenshot {
    display: flex;
    justify-content: center;
}
.screenshot img {
    width: 30%;
}
.request-demo-left {
    background-image: url("images/green-blob.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.request-demo {
    background-color: #66CC66;
    padding: 30px 15px 15px 30px;
    border-bottom-left-radius: 30px;
    width: 30%;
    float: right;
    z-index: 1;
}
.request-demo svg:first-of-type {
    position: absolute;
    top: 0;
    right: 22%;
    z-index: -1;
}
.request-demo svg:last-of-type {
    position: absolute;
    right: 0;
    top: 100%;
}
.german-example {
    margin-top: 300px;
}
