body {
    background-color: #FFFAF2;
}
.container-fluid, .poc-container {
    padding-left: 0;
    padding-right: 0;
}
.screenshot {
    display: flex;
    justify-content: center;
}
.screenshot img {
    width: 30%;
}
.did-you-know-left {
    background-image: url("images/green-blob.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.did-you-know {
    background-color: #66CC66;
    padding: 30px 15px 15px 30px;
    border-bottom-left-radius: 30px;
    width: 70%;
    float: right;
}
.did-you-know svg {
    position: absolute;
    right: 0;
    top: 100%
}
.german-example {
    margin-top: 300px;
}
