.top-v2, .bottom-v2 {
    padding: 100px;
}
.bottom-v2 {
    background-color: #FCF4E8;
}
.top {
    border-radius: 0 0 50px 50px;
    z-index: 1;
    margin-bottom: -50px;
    position: relative;
}
.middle {
    background-color: #0074E8;
    padding: 200px 150px;
    z-index: -2;
}
h4 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}
.middle-v2 {
    background-color: #0074E8;
    padding: 150px;
}
.bottom {
    z-index: 1;
    background-color: #ffffff;
    padding: 200px 100px;
    position: relative;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
}
.bg-beige {
    background-color: #FCF4E8;
}
.top-tab-75 {
    padding: 50px;
    border-radius: 0 50px 0 0;
}

.bot-tab-75 {
    padding: 50px;
    border-radius: 0 0 0 50px;
}
.top-tab-90 {
    padding: 50px;
    border-radius: 50px 0 0 0;
}
.content-container {
    padding: 0 100px;
}
.content-container .col-md-3 {
    margin-bottom: 48px;
}
.content-container h4 {
    text-align: left;
    color: #000000;
    font-size: 28px;
}
.content-container .col-3 {
    padding: 20px;
}
.content-top {
    margin-bottom: 100px;
}

.btn-white {
    background-color: #ffffff;
    color: #231F20;
    padding: 16px;
    border-radius: 20px;
    font-size: 24px;
}
.poc-lg {
    padding: 200px 100px;
}
.container-90 .content-container {
    border-radius: 0 0 50px 50px;
    z-index: 1;
    margin-bottom: -50px;
    position: relative;
}